.slide-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3.5%;
}

.slide-image-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 4%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.slide-image-container{
    margin-left: 1%;
    margin-right: 1%;
}

.slide-image{
    position: relative;
    max-width: 182.25px;
    max-height: 270px; 
}

.slide-image img{
    width: 100%;
    height: 100%;
}

.mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.1),rgba(7, 7, 7, 0.1), rgba(7, 7, 7, 0.1), black, black);
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: auto;
}

.slide-image:hover .mask{
    opacity: 1;
}
.slide-image:hover img, .slide-image:hover .mask{
    transform: scale(1.1);
}

.poster-title{
    color: #F4F4F4;
    float: left;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 2px;
    left: 5%;
    text-align: left;
    margin: 0;
}

/* mobie */
.slide-title-mobile{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 40px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.slide-image-wrapper-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5%;
}

.slide-image-mobile{
    position: relative;
    max-width: 300px; 
}

.slide-image-mobile img{
    width: 100%;
    height: 100%;
}