<h1 class="slide-title">{{componentTitle}}</h1>
<ngb-carousel *ngIf="slides">
  <ng-template ngbSlide *ngFor="let group of slides" >
    <div class="slide-image-wrapper">
      <div class="slide-image-container" *ngFor="let image of group">
        <a href="/watch/{{image['media_type']}}/{{image['id']}}">
            <div class="slide-image">
                <img [src]="image['poster_path']">
                <div class="mask">
                    <p class="poster-title">{{image['title']}}</p>
                </div>
            </div>
        </a>
      </div>
    </div>
  </ng-template>
</ngb-carousel>