.cast-wrapper{
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
}

.cast-card-container{
    display: -webkit-inline-box;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.cast-card{
    color: black;
    margin-left: 1%;
    margin-right: 1%;
    width: 12rem;
    border-radius: 1rem;
    border-width: 0px;
    cursor: pointer;
}

.cast-img{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.cast-card-body{
    text-align: center;
    padding: 10px;
}

.cast-title{
    font-weight: bold;
    margin: 0;
}

.cast-text{
    color: #424242;
    font-size: 15px;
    margin: 0;
}

/* modal */
::ng-deep .modal-content{
    height: fit-content;
}
.modal-top-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}
.modal-top-container img{
    width: 30%;
}
.cast-info-list{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 2.5rem
}

.cast-info-list p, .modal-body p{
    color: #636669;
    margin: 0;
    font-size: 1rem;
}

.social-list{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.social-list a{
    margin-right: 0.5rem;
}

*{
    height: fit-content;
}