<div class="cast-wrapper">
    <h1>Full Cast and Crew</h1>
    <div class="cast-card-container">
        <div class="card cast-card" *ngFor="let i of [0,1,2,3,4,5,6,7,8]">
            <img class="card-img-top cast-img" src="https://bytes.usc.edu/cs571/s21_JSwasm00/hw/HW6/imgs/person-placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
</div>