<nav class="navbar navbar-expand-lg">
    <a class="nav-title" routerLink="/" (click)="activePage = 1; isMenuCollapsed = true">USC Films</a>

    <button class="navbar-toggler mobile-btn" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav mr-auto" ngbNav #nav="ngbNav" [(activeId)]="activePage">
            <li class="nav-item my-nav-link" [ngbNavItem]="1">
                <a ngbNavLink class="nav-tab" routerLink="/" (click)="isMenuCollapsed = true">Home</a>
            </li>
            <li class="nav-item my-nav-link" [ngbNavItem]="2">
                <a ngbNavLink class="nav-tab" routerLink="/mylist" (click)="isMenuCollapsed = true">My List</a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input id="typeahead-template" type="text" 
                class="nav-search mr-sm-2" 
                placeholder="Search"
                [(ngModel)]="query"
                [ngbTypeahead]="search"
                [resultTemplate]="rt"
                [inputFormatter]="formatter"
            />
        </div>
    </div>
</nav>

<ng-template #rt let-r="result" let-t="term" class="result-list">
    <div (click)="viewSearchResultDetail($event, r['media_type'], r['id'])">
        <img [src]="r['backdrop_path']" class="search-img">
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
    </div>
</ng-template>
