<nav>
    <a class="nav-title" routerLink="/" (click)="activePage = 1">USC Films</a>
    <div ngbNav #nav="ngbNav" [(activeId)]="activePage">
        <span [ngbNavItem]="1">
            <a ngbNavLink class="nav-tab" routerLink="/">Home</a>
        </span>
        <span [ngbNavItem]="2">
             <a ngbNavLink class="nav-tab" routerLink="/mylist">My List</a>
        </span>
    </div>
    <input id="typeahead-template" type="text" 
        class="nav-search" 
        placeholder="Search"
        [(ngModel)]="query"
        [ngbTypeahead]="search"
        [resultTemplate]="rt"
        [inputFormatter]="formatter"
    />
    <ng-template #rt let-r="result" let-t="term" class="result-list">
        <div (click)="viewSearchResultDetail($event, r['media_type'], r['id'])">
            <img [src]="r['backdrop_path']" class="search-img">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
        </div>
    </ng-template>
    
</nav>