nav{
    background-color: #010C20;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    display: flex;
    flex-direction: row;
}

nav a{
    text-decoration: none;
    line-height: 50px;
    margin-left: 50px;
}

.nav-title{
    color: white;
    font-size: 20px;
}

.nav-tab{
    color: #646F81;
    font-size: 18px;
    padding: 0;
    margin-left: 30px;
}

.active{
    color: white;
}

.nav-tab:hover{
    color: rgba(255, 255, 255, 0.833);
}

.nav-search{
    margin-right: 50px;
    margin-left: auto;
    margin-top: 12px;
    border: none; 
    border-bottom: 1px solid white;
    outline: none;
    background-color: #010C20;
    height: 30px;
    font-size: 18px;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #646F81;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #646F81;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #646F81;
}

.search-img{
    height: 40px;
    margin-right: 10px;
}

::ng-deep .dropdown-menu{
    background-color: #050A30;
    border-color: white;  
    margin-top: 1px;
}
::ng-deep .dropdown-item{
    color: white;
}