.list-empty{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}
.list-empty h1, .watch-list-wrapper-mobile h1{
    font-size: 40px; 
}
.watch-list-wrapper, .watch-list-wrapper-mobile{
    color: white;
    max-width: 1350px;
    margin: auto;
    margin-top: 10px;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: column;
    flex: center;
}

.watch-list-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    /* grid-auto-rows: 200px; */
    grid-gap: 10px;
    justify-content: center;
}

.slide-image{
    position: relative;
    max-width: 182.25px;
    max-height: 270px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.slide-image img{
    width: 100%;
    height: 100%;
}

.mask, .mask-mobile{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.1),rgba(7, 7, 7, 0.1), rgba(7, 7, 7, 0.1), black, black);
    overflow: hidden;
    width: 100%;
    height: 101%;
    opacity: 0;
    margin: auto;
}

.slide-image:hover .mask{
    opacity: 1;
}
.slide-image:hover img, .slide-image:hover .mask{
    transform: scale(1.1);
}

.poster-title{
    color: #F4F4F4;
    float: left;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 2px;
    left: 5%;
    text-align: left;
    margin: 0;
}

/* mobile */
.watch-list-wrapper-mobile h1{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.watch-list-container-mobile{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    /* grid-auto-rows: 200px; */
    grid-gap: 10px;
    justify-content: center;
}
.slide-image-mobile{
    position: relative;
    max-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.slide-image-mobile img{
    width: 100%;
    height: 100%;
}

.mask-mobile{
    opacity: 1;
    left: -0.5%;
    width: 101%;
}
.slide-image-mobile:hover img, .slide-image-mobile:hover .mask-mobile{
    transform: scale(1.1);
}