<div *ngIf="watch_list.length == 0" class="list-empty">
    <h1>No items found in Watchlist.</h1>
</div>

<div *ngIf="watch_list.length > 0 && !mobile" class="watch-list-wrapper">
    <h1>My Watchlist</h1>
    <div class="watch-list-container">
        <div *ngFor="let image of watch_list">
            <a href="/watch/{{image['media_type']}}/{{image['id']}}">
                <div class="slide-image">
                    <img [src]="image['poster_path']" id="img">
                    <div class="mask">
                        <p class="poster-title">{{image['title']}}</p>
                    </div>
                </div>             
            </a>
        </div>
    </div>
</div>


<div *ngIf="watch_list.length > 0 && mobile" class="watch-list-wrapper-mobile">
    <h1>My Watchlist</h1>
    <div class="watch-list-container-mobile">
        <div *ngFor="let image of watch_list">
            <a href="/watch/{{image['media_type']}}/{{image['id']}}">
                <div class="slide-image-mobile">
                    <img [src]="image['poster_path']" id="img">
                    <div class="mask-mobile">
                        <p class="poster-title">{{image['title']}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

