.review-wrapper{
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    padding-left: 3%;
    padding-right: 3%;
}