<div class="detail-wrapper">
    <div class="video-wrapper">
        <div class="video-container">
            <app-youtube [videoId]="video.key"></app-youtube>
        </div>
    </div>
    <div class="video-des-container">
        <h1>{{cur_media.title}}</h1>
        <div class="tagline-style">{{cur_media.tagline}}</div>
        <div class="des-number-style">{{cur_media.release_date}} | &#9733; {{cur_media.vote_average}} | {{duration}}</div>
        <div class="des-list">Genres : <span *ngFor="let genre of cur_media.genres">{{genre}}</span></div>
        <div class="des-list">Spoken Languages : <span *ngFor="let language of cur_media.spoken_languages">{{language}}</span></div>
        <button *ngIf="!added" type="button" class="btn btn-primary add-btn" (click)="addToWatchList($event)">Add to Watchlist</button>
        <button *ngIf="added" type="button" class="btn btn-primary add-btn" (click)="removeFromWatchList($event)">Remove from Watchlist</button>
        <ngb-alert #selfClosingAlert *ngIf="showAlert" [type]="alert.type" (closed)="showAlert = ''">{{ alert.message }}</ngb-alert>
    </div>
</div>
<div class="detail-wrapper2">
    <div class="share-wrapper">
        <h5>Description</h5>
        <p>{{cur_media.overview}}</p>
        <h5>Share</h5>
        <a  href="{{twitterUrl}}"
            target="_blank">
            <fa-icon [icon]="twitter" style="color: #1E90FF"></fa-icon>
        </a>
        <a  href="{{facebookUrl}}"
            target="_blank">
            <fa-icon [icon]="facebook" style="color: #0000FF"></fa-icon>
        </a>
    </div>
    <app-cast [mediaId]="id" [mediaType]="media_type"></app-cast>
    <app-review [mediaId]="id" [mediaType]="media_type"></app-review>
</div>
