.detail-wrapper{
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
}

.video-wrapper{
    width: 60%;
    overflow: hidden;
}

.video-container {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.video-container ::ng-deep iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-des-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 3%;
}

.tagline-style{
    font-style: italic;
    font-family: Comic Sans MS;
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 20px;
    color: #D3D1DE;
}

.des-number-style{
    color: #D3D1DE;
    font-size: 20px;
    margin-bottom: 15px;
}

.des-list{
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.des-list span{
    color: #9FA5C2;
    font-weight: lighter;
    font-size: 16px;
}

.add-btn{
    width: fit-content;
    margin-top: 15px;
}

.video-des-container ngb-alert{
    margin-top: 15px;
}

.detail-wrapper2{
    width: 100%;
    max-width: 1350px;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    color: white;
}

.share-wrapper{
    padding-left: 4%;
    padding-right: 4%;
}

.share-wrapper p{
    color: #9FA5C2;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 30px;
}

fa-icon{
    font-size: 30px;
    margin-right: 7px;
    cursor: pointer;
}