<div class="carousel-container">
  <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)" [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let img_info of now_play; index as i">
      <a href="/watch/movie/{{img_info['id']}}" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img_info['backdrop_path']">
          <div class="mask">
            <p class="poster-title">{{img_info['title']}}</p>
          </div>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>

<app-slide-list [componentTitle]="title1" [slides]="continue_watch" [slideSum]="sum1"></app-slide-list>
<app-slide-list [componentTitle]="title2" [slides]="popular_movies" [slideSum]="sum2"></app-slide-list>
<app-slide-list [componentTitle]="title3" [slides]="toprated_movies" [slideSum]="sum3"></app-slide-list>
<app-slide-list [componentTitle]="title4" [slides]="trending_movies" [slideSum]="sum4"></app-slide-list>
<app-slide-list [componentTitle]="title5" [slides]="popular_tv" [slideSum]="sum5"></app-slide-list>
<app-slide-list [componentTitle]="title6" [slides]="toprated_tv" [slideSum]="sum6"></app-slide-list>
<app-slide-list [componentTitle]="title7" [slides]="trending_tv" [slideSum]="sum7"></app-slide-list>2